# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.Python
db.sqlite3
.DS_Store

# Django
*.mo
*.pot
local_settings.py

# Virtual Environment
venv/
myenv/
ENV/

# IDE Specific
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Database
*.db

# Logs
*.log

# Miscellaneous
*.bak
*.swp
*.swo
*.swn
